body {
  margin-top: 0.88rem; }

.success-tip {
  width: 100%; }
  .success-tip .success-ico {
    width: 100%;
    height: 0.96rem;
    padding-top: 0.977rem;
    text-align: center; }
    .success-tip .success-ico .icon-chenggongtishi {
      font-size: 0.96rem;
      color: #1ec118; }
  .success-tip .success-tip-msg {
    width: 100%;
    line-height: 0.59rem;
    font-size: 0.42rem;
    margin-top: 0.14rem;
    letter-spacing: -1px;
    text-align: center;
    color: #0c0c0c; }
  .success-tip .success-tip-msg2 {
    font-size: 0.28rem;
    line-height: 0.4rem;
    margin-top: 0.4rem;
    padding: 0rem 0.42rem;
    letter-spacing: -0.007rem;
    text-align: center;
    color: #959595; }
  .success-tip .success-btn {
    padding: 0rem 0.3rem; }
    .success-tip .success-btn .become-true-btn {
      width: 100%;
      height: 0.88rem;
      line-height: 0.88rem;
      margin-top: 0.9rem;
      -webkit-border-radius: 0.04rem;
      -moz-border-radius: 0.04rem;
      -ms-border-radius: 0.04rem;
      -o-border-radius: 0.04rem;
      border-radius: 0.04rem;
      background-color: #094290;
      display: inline-block;
      letter-spacing: -0.008rem;
      font-size: 0.32rem;
      color: #ffffff;
      text-align: center; }
