{% extends "../common/layout.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="/css/personal/feedback.css" />
{% endblock %}

{% block header %}
{% include "../common/header.html" %}
{% endblock %}

{% block content %}
<div class="contentBox">
    <textarea class="content" maxlength="1000" name="feedback" placeholder="请填写您的反馈意见，我们将尽快处理（1000个汉字以内）" autofocus></textarea>
    <a class="submitBtn">确认提交</a>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/js/personal/feedback.js"></script>
{% endblock %}

