<!DOCTYPE html>
<html>
<head>

    <title>{{ title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/common/reset.css">
    <script type="text/javascript" src="js/common/base.js"></script>
    <script type="text/javascript" src="js/common/zepto.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block foot %}
    {% endblock %}
</body>
</html>