body{
    background-color: #efeff4;
}
/**
 * 监管机构列表
 */
.contentBox{
    margin-top: 0.88rem;
}
.contentBox ul{
    overflow: hidden;
}
.contentBox ul li{
    margin-top: 0.15rem;
    padding: 0.3rem;
    background-color: #ffffff;
    overflow: hidden;
}
.contentBox ul li .left{
    float: left;
    width: 1.3rem;
    height: 100%;
}
.contentBox ul li .left >img{
    vertical-align: top;
    width: 1.3rem;
    height: 0.7rem;
}

.contentBox ul li .right{
    float: left;
    width: calc(100% - 1.6rem);
    height: 100%;
    margin-left: 0.3rem;
}
.contentBox ul li .right .head{
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
}

.contentBox ul li .right .head .name{
    display: block;
    float: left;
    width: calc(100% - 0.4rem);
    font-size: 0.36rem;
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.contentBox ul li .right .head .nextIcon{
    display: block;
    float: right;
    font-size: 0.26rem;
    color: #959595;
}
.contentBox ul li .right .detail{
    max-height: 1.18rem;
    font-size: 0.28rem;
    text-align: justify;
    letter-spacing: -0.007rem;
    color: #959595;
    margin-top: 0.1rem;
    line-height: 0.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.contentBox .loadingMore{
    margin-top: 0.3rem;
    margin-bottom: 0.43rem;
    height: 0.45rem;
    line-height: 0.45rem;
    text-align: center;
    font-size: 0.32rem;
    letter-spacing: -0.008rem;
    color: #959595;
}