{% extends "../common/layout.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="/css/bank/restMobile.css" />
{% endblock %}

{% block header %}
{% include "../common/header.html" %}
{% endblock %}

{% block content %}
<div class="card-msg" data-account = "{{ accountId }}">
  <div class="card-msg-box">
    <div class="card-msg-lt">
       <img src="/images/personal/banks/{{ bankName }}.png" srcset="/images/personal/banks/{{ bankName }}@2x.png 2x, /images/personal/banks/{{ bankName }}@3x.png 3x">
       <p>{{ data.chinese_name }}</p>
    </div>
    <div class="card-msg-rt">
       <p class="card-id">{{ data.bank_account }}</p>
       <div class="card-detail">
         <span class="card-name">{{ data.account_name }}</span>
         <span class="card-border">|</span>
         <p class="card-number">身份证号：{{ data.idnumber }}</p>
       </div>
    </div>
  </div>
</div>
<div id="modiMob1">
   <ul class="modiMinBox">
    <li class="phone">
      <span>预留手机号</span>
      <span class="fr phone-span">
        <input type="tel" id="phoneNum" placeholder="您的银行卡预留手机号" name="phoneNum" required maxlength="11" oninput="if(value.length > 11)value=value.slice(0,11)" onkeydown="if(event.keyCode==13)event.keyCode=9" onKeypress="if((event.keyCode<48 || event.keyCode>57)) event.returnValue=false"/>
        <em class="icon-clean"></em>
      </span>
        <b id="getCode" class="get-code disabled">获取验证码</b>
    </li>
    <li class="code">
      <span>验证码</span>
      <span class="fr code-span">
        <input type="number" id="smsCode" name="validateCode" placeholder="请输入验证码" required oninput="if(value.length > 6)value=value.slice(0,6)" onkeydown="if(event.keyCode==13)event.keyCode=9" onKeypress="if((event.keyCode<48 || event.keyCode>57)) event.returnValue=false"/>
        <em class="icon-clean"></em>
      </span>
    </li>
   </ul>
   <a href="javascript:;" id="clickSubmit" class="save disabled">确认更换</a>
</div>
<div id="footer">
    {% include "../common/regfooter.html" %}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/js/bank/restMobile.js"></script>
{% endblock %}
