<div class="headerNavavigation">
    <div class="topbar">
        <i class="icon iconfont backicon" id="backHistoryPage">&#xe71d;</i>
        <span>{{ title }}</span>
        <i class="icon iconfont itemicon" id="openNavigation">&#xe716;</i>
    </div>
    <div class="headerNavMask"></div>
    <div class="headerNav">
        <ul>
            <li><a href="/index.html"><i class="icon iconfont navIcon homeIcon">&#xe706;</i><br/><span>首页</span></a></li>
            <li><a href="../calendar/index.html"><i class="icon iconfont navIcon calendarIcon">&#xe70f;</i><br/><span>财经日历</span></a></li>
            <li><a id="headerJumpTradingAccount"><i class="icon iconfont navIcon accountIcon">&#xe715;</i><br/><span>交易账户</span></a></li>
            <li><a id="headerJumpPersonal"><i class="icon iconfont navIcon indiIcon">&#xe71a;</i><br/><span>个人中心</span></a></li>
        </ul>
    </div>
</div>
