body{
    background-color: #ffffff;
}
/**
 * 提现成功
 */
.contentBox{
    padding-top: 0.88rem;
    text-align: center;
}
.contentBox .failIcon{
    display: block;
    font-size: 0.96rem;
    color: #ff0000;
    margin-top: 0.9rem;
}
.contentBox .hintText1{
    display: block;
    font-size: 0.42rem;
    letter-spacing: -0.01rem;
    color: #0c0c0c;
    margin-top: 0.16rem;
}
.contentBox .hintText2{
    display: block;
    font-size: 0.28rem;
    letter-spacing: -0.007rem;
    color: #000000;
    height: 0.4rem;
    line-height: 0.4rem;
}
.contentBox .doubt{
    margin-top: 0.4rem;
    font-size: 0.28rem;
    letter-spacing: -0.007rem;
    text-align: center;
    color: #959595;
    line-height: 0.4rem;
}
.doubt .telephone{
    color: #094290;
}
.contentBox .failBackBtn{
    display: block;
    width: calc(100% - 0.6rem);
    height: 0.88rem;
    line-height: 0.88rem;
    margin: 0.9rem auto 0 auto;
    border-radius: 0.04rem;
    background-color: #094290;
    border: none;
    outline: none;
    font-size: 0.32rem;
    color: #ffffff;
    text-align: center;
}